@model IEnumerable<CPW221_Project_eCom.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductIdProduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetailPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductIdProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetailPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategoryId)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ProductIdProduct}) |
                    @Html.ActionLink("Details", "Details", new {  id=item.ProductIdProduct  }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.ProductIdProduct  })
            </td>
        </tr>
}
    </tbody>
</table>
